/***************** font ******************/
@font-face {
  font-family: "carpet";
  src: url("./fonts/Carpet.ttf");
}

/********** layout elements **********/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url("./images/canvas2.png");
  background-position: center;
  background-size: cover;
}

div .grid,
div .red-bar,
div .blue-bar {
  background: rgb(70, 54, 29, 0.3);
  border: 3px solid black;
}

.board {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 35vw;
  height: calc(35vw * 1.35);
}

.cell {
  border: 2px dotted black;
  border-radius: 3%;
}

.cell,
.card[data-played="true"],
.card[data-played="true"] img {
  width: 10.5vw;
  height: calc(10.5vw * 1.4);
}

.red-bar,
.blue-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-bar {
  margin-left: 5vw;
}

.blue-bar {
  margin-right: 5vw;
}

.blue-hand,
.red-hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 90vh;
}

.blue-deck,
.red-deck {
  display: none;
}

/* trim ul container overflow */
ul {
  padding: 0;
}

/****************Screen Elements******************/
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  border: 3px solid black;
  border-radius: 6%;
  background: rgb(70, 54, 29, 0.6);
}

.start img {
  padding: 5vh;
  width: 100%;
  height: 100%;
}

button {
  height: 8vh;
  line-height: 8vh;
  border: 3px solid black;
  border-radius: 6%;
  color: white;
  font-size: 3vw;
  font-family: "carpet";
  text-align: center;
  text-shadow: 3px 3px 3px black, -3px -3px 3px black;
  background-color: rgb(70, 54, 29);
}

button:hover {
  box-shadow: 0 0 10px 5px #fcdb1a;
}

.start button {
  width: 10vw;
  margin-top: -10%;
}

.table {
  display: none;
  justify-content: space-between;
  height: calc(100vh -1px);
  width: calc(100vw - 1px);
}

.game-over {
  display: none;
  position: absolute;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 65vw;
}

.play-again {
  width: 20vw;
  transform: translateY(-30vh);
}

.blue-win,
.red-win,
.draw {
  font-size: 15vw;
  font-family: "carpet";
}

.blue-win {
  display: none;
  color: rgba(10, 109, 245);
  text-shadow: 6px 6px 6px black, -6px -6px 6px black;
  background: rgb(70, 54, 29, 0.8);
  border: 3px solid black;
  text-align: center;
  justify-content: center;
  border-radius: 3%;
  padding: 5%;
}

.red-win {
  display: none;
  color: rgba(255, 0, 0);
  text-shadow: 6px 6px 6px black, -6px -6px 6px black;
  background: rgb(70, 54, 29, 0.8);
  border: 3px solid black;
  text-align: center;
  justify-content: center;
  border-radius: 3%;
  padding: 5%;

}

.draw {
  display: none;
  color: white;
  text-shadow: 6px 6px 6px black, -6px -6px 6px black;
  background: rgb(70, 54, 29, 0.8);
  border: 3px solid black;
  text-align: center;
  justify-content: center;
  border-radius: 3%;
  padding: 5%;
}

/*************** card elements ****************/
.card,
img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 6.5vw;
  height: calc(6.5vw * 1.4);
  border-radius: 3%;
}

.card {
  margin: 1px;
  position: relative;
  border: 1px solid black;
}

img {
  pointer-events: none;
}

/* blue card selection highlight */
#bh .card[data-selected="true"] {
  box-shadow: 0 0 10px 5px #fcdb1a;
  transform: scale(2) translateX(-100%);
  position: absolute;
}

/* redonent card selection highlight */
#rh .card[data-selected="true"] {
  box-shadow: 0 0 10px 5px #fcdb1a;
  transform: scale(2) translateX(100%);
  position: absolute;
}

/* blue owned card background */
.card[data-owner="blue"],
div[data-owner="blue"] {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(10, 109, 245, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

/* redonent owned card background */
.card[data-owner="red"],
div[data-owner="red"] {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.card[data-flipped="true"] {
  transform: rotateY(360deg);
  transition: 0.5s;
}

.card[data-flipped="false"] {
  transform: inherit;
  transition: 0s;
}

/* face down card elements */
.card[data-facedown="true"] {
  background-image: url("./images/cardback2.png");
  background-size: cover;
}

.card[data-facedown="true"] img[src$=".png"],
.card[data-facedown="true"] span {
  display: none;
}

/* card object template */
.template {
  display: none;
}

/* card value elements */
span {
  font-size: 0.925vw;
  font-family: "carpet";
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8%;
  margin-right: 12%;
  color: rgb(237, 234, 234);
  pointer-events: none;
}

.card[data-played="true"] span {
  font-size: 1.5vw;
}

.up {
  margin-right: 1.575em;
}

.left {
  margin-right: 2.3em;
  margin-top: 1.1em;
}

.right {
  margin-top: 1.1em;
}

.down {
  margin-right: 1.575em;
  margin-top: 1.7em;
}

@media screen and (max-aspect-ratio: 1/1) {
  .start,
  .game-over {
    width: 85vw;
    height: 40vw;
  }

  button {
    height: 6vh;
    line-height: 5.5vh;
    font-size: 6vw;
  }

  .start button {
    width: 30vw;
    padding-left: 0;
  }

  .play-again {
    width: 40vw;
    transform: translateY(-12vh);
  }

  .blue-win,
  .red-win,
  .draw {
    width: 85vw;
    height: 40vw;
    font-size: 20vw;
    text-align: center;
  }

  .table {
    height: 98vh;
    flex-direction: column;
  }

  .grid {
    width: 60vw;
    height: calc(60vw * 1.35);
    margin-left: 2.5vw;
  }

  .cell,
  .card[data-played="true"],
  .card[data-played="true"] img {
    width: 18.5vw;
    height: calc(18.5vw * 1.4);
  }

  .red-bar,
  .blue-bar {
    margin: 0;
  }

  .blue-hand,
  .red-hand {
    flex-direction: row;
    width: 90vw;
    height: 13vh;
  }

  .card,
  img {
    width: 16.5vw;
    height: calc(16.5vw * 1.4);
  }

  span {
    font-size: 2.325vw;
    font-weight: bold;
  }

  .card[data-played="true"] span {
    font-size: 2.65vw;
    font-weight: bold;
  }

  #bh .card[data-selected="true"] {
    transform: scale(1.8) translateY(-23vh) translateX(105%);
  }

  #rh .card[data-selected="true"] {
    transform: scale(1.8) translateY(23vh) translateX(105%);
  }
}
